.card {
    /* Add shadows to create the "card" effect */
    margin-top: 100px;
  }
  
  /* On mouse-over, add a deeper shadow */

  
  /* Add some padding inside the card container */
  .containedor {
      
    padding: 2px 10px;
  }

  img {
    border-radius: 50px 50px 50px 50px;
    max-width: 20rem;
    max-height: 20rem;
  }