.text-container{
    margin-top: 40px;
    text-align: center;
    background-size: cover;
    background-repeat:no-repeat;
    background: url('https://images8.alphacoders.com/380/thumb-1920-380977.jpg');
}
.invisible {
    margin-top: 460px;
}