.text-container{
    margin-top: 80px;
    text-align: center;
    background-size: cover;
    background-repeat:no-repeat;
    background: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2FB1sODrM.jpg&f=1&nofb=1');
}
.invisible {
    margin-top: 460px;
}