.app-container {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.wallpapersafari.com%2F34%2F70%2FHxjBnf.jpg&f=1&nofb=1');
    background-position: center;
    background-repeat: no-repeat;
  
    background-size: cover;    padding-top: 1rem;
    padding-bottom: 26.5rem;
}
.form {
    margin-top: 200px;
    margin-left: 670px;
}